.columns {
  background-color: #fdcbc4;
  background-size: 100% 100%;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.columns.columns-top {
  background-image: url(/img/1.29d7455c.png);
}
.columns.columns-center {
  background-image: url(/img/2.9447f71e.png);
}
.columns.columns-bottom {
  background-image: url(/img/3.698bd0e4.png);
}
.columns:after {
  content: "";
  display: block;
  padding-top: 12.07%;
}
@-webkit-keyframes ltr-transition-0 {
  0% {
    background-position: 0;
  }
  to {
    background-position: 33.3333vw;
  }
}
@keyframes ltr-transition-0 {
  0% {
    background-position: 0;
  }
  to {
    background-position: 33.3333vw;
  }
}
@-webkit-keyframes ltr-transition-1 {
  0% {
    background-position: 33.3333vw;
  }
  to {
    background-position: 66.6666vw;
  }
}
@keyframes ltr-transition-1 {
  0% {
    background-position: 33.3333vw;
  }
  to {
    background-position: 66.6666vw;
  }
}
@-webkit-keyframes ltr-transition-2 {
  0% {
    background-position: 66.6666vw;
  }
  to {
    background-position: 100vw;
  }
}
@keyframes ltr-transition-2 {
  0% {
    background-position: 66.6666vw;
  }
  to {
    background-position: 100vw;
  }
}
@-webkit-keyframes rtl-transition-0 {
  0% {
    background-position: -33.3333vw;
  }
  to {
    background-position: -66.6666vw;
  }
}
@keyframes rtl-transition-0 {
  0% {
    background-position: -33.3333vw;
  }
  to {
    background-position: -66.6666vw;
  }
}
@-webkit-keyframes rtl-transition-1 {
  0% {
    background-position: -100vw;
  }
  to {
    background-position: -133.3333vw;
  }
}
@keyframes rtl-transition-1 {
  0% {
    background-position: -100vw;
  }
  to {
    background-position: -133.3333vw;
  }
}
@-webkit-keyframes rtl-transition-2 {
  0% {
    background-position: -166.6666vw;
  }
  to {
    background-position: -200vw;
  }
}
@keyframes rtl-transition-2 {
  0% {
    background-position: -166.6666vw;
  }
  to {
    background-position: -200vw;
  }
}
body {
  font-family: VT323, sans-serif;
  background: #000;
}
body:after {
  content: "";
  display: block;
  position: fixed;
  top: 50%;
  right: 18%;
  left: 18%;
  border: 0.5vw solid #fff;
  bottom: 44%;
  padding-top: 39%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.helper {
  bottom: 1rem;
  z-index: 100;
  color: #fff;
  text-align: center;
  pointer-events: none;
  font-size: 3vw;
  opacity: 0.5;
}
.helper,
.viewport {
  position: fixed;
  left: 0;
  right: 0;
}
.viewport {
  display: block;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.viewport:before {
  left: 0;
}
.viewport:after,
.viewport:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  background: #000;
  z-index: 10;
}
.game,
.viewport:after {
  right: 0;
}
.game {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: table;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  margin: auto;
  top: 50%;
  left: 10%;
  background-color: #fff;
  width: 300px;
  padding: 20px 30px;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
}
.modal-default-button {
  float: right;
}
